<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ pageTitle }} | Project Tracker </title>
	<link href="/public/css/style.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<!-- <script src="/public/js/jquery.form.js"></script> -->
<body>

<div id="wrapper">

<header id="{{headerVersion}}-header">
	<nav class="navbar navbar-default navbar-static-top" id="main-nav">
		<div class="container">
		
			<!-- Branding and mobile-toggle -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="/public/img/pt-logo.png" alt="PT">
				</a>
			</div>
			
			<!-- Navbar Links -->		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/projects">Projects</a></li>
					<li><a href="/signin">Sign in</a></li>
					<li><a href="/register">Register</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
  </nav>
</header>

<div id="main-content">
   
    {{{body}}}
 
</div><!-- #main-content -->

<div id="footer-push"><!-- Don't Remove --></div>
</div><!-- #wrapper -->

<footer id="main-footer" class="container">
	Here's some stuff in the footer.
</footer>

<!-- Scripts -->
<script src="/public/js/project-tracker.js"></script>

</body>
</html>
