<header id="main-header">
	<div class="container">	
		<span class="company-name"><a href=#">[logo] Project Tracker</a></span>
		<nav class="pt-navbar" id="main-nav">
			<ul>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Sign in</a></li>
				<li><a href="#">Register</a></li>
			</ul>
		</nav>
	</div>
</header>
