	<div class="container">
		<section class="row">
			<div class="col-md-6">
				<img src="../public/img/gantt.png" alt="gantt chart" class="splash-img img-rounded">
			</div>
			<div class="col-md-6">
				<p class="splash-text">The easiest to use project tracking software on the market today! And
				other whiz-bang marketing jargon that will ensure everyone will use this software! </p>
				<a href="/register" role="button" class="btn btn-primary btn-lg">Register Now!</a>
			</div>
		</section>
	</div><!-- .container -->
	
		<hr>
	
	<div class="h-features">
		<div class="container">
			<section class="row">
				<div class="col-md-4">
					<div class="h-feature">
						<h3>Gantt Charts</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat libero, 
						placerat non molestie eleifend, consequat sed nunc. Vestibulum quis.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					
					</div>
				</div>
				<div class="col-md-4">
					<div class="h-feature">
						<h3>Hover Over Me</h3>
						<p>Sed id dictum sapien. Fusce dignissim vel dui vulputate sollicitudin. Duis ut 
						nisi justo. Ut pulvinar posuere metus, luctus dapibus.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="h-feature">
						<h3>World Domination</h3>
						<p>Nam rhoncus sapien a ex tincidunt, id consectetur dui viverra. Etiam erat dui, aliquet sed
						facilisis et, fringilla sit amet.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					</div>
				</div>
			</section>
		
			<section class="row">
				<div class="col-md-4">
					<div class="h-feature">
						<h3>More Features</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat libero, 
						placerat non molestie eleifend, consequat sed nunc. Vestibulum quis.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="h-feature">
						<h3>And S'more</h3>
						<p>Sed id dictum sapien. Fusce dignissim vel dui vulputate sollicitudin. Duis ut 
						nisi justo. Ut pulvinar posuere metus, luctus dapibus.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="h-feature">
						<h3>Yes, These are Dead Links</h3>
						<p>Nam rhoncus sapien a ex tincidunt, id consectetur dui viverra. Etiam erat dui, aliquet sed
						facilisis et, fringilla sit amet.</p>
						<a href="#" role="button" class="btn btn-primary btn-xs hidden">Details</a>
						<span class="xs-btn-shim">&nbsp;</span>
					</div>
				</div>
			</section>
		</div><!-- .container -->
	</div><!-- .h-features -->
	
	<script>
	$(function() {
    $('.h-feature').hover(function() {
       $(this).children('a').removeClass('hidden');
    },function() {
       $(this).children('a').addClass('hidden');
    });
	}); 
	</script>
	
	
