	<div class="container">
	
		<section class="row">
			<div class="col-md-8">
			 	<h3>Edit {{ project.name }}</h3>
			 	<form method="post" action="/projects/{{project.id}}?_method=PUT">
			 		
			 		<input type="hidden" name="id" value="{{project.id}}">
			 	
					<div class="form-group">
						<label for="name">Project Name</label>
						<input type="text" class="form-control" id="name" name="name" value="{{ project.name }}">
					</div>
					<div class="form-group">
						<label for="status">Status</label>
						<select class="form-control" id="status" name="status">
							<option>New</option>
							<option>In progress</option>
							<option>In QA</option>
							<option>Reviewing</option>
							<option>Complete</option>
							<option>Closed</option>
						</select>
					</div>
					<div class="form-group">
						<label for="type">Type</label>
						<select class="form-control" id="type" name="type" value="{{ project.type }}">
							<option>Internal</option>
							<option>External</option>
						</select>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" rows="5" id="description" name="description">{{ project.description }}</textarea>
					</div>
					<div class="form-group">
						<label for="start_date">Start date</label>
						<input type="text" class="form-control" id="start_date" name="start_date" value="{{ project.start_date }}">
					</div>
					<div class="form-group">
						<label for="due_date">Due date</label>
						<input type="text" class="form-control" id="due_date" name="due_date" value="{{ project.due_date }}">
					</div>
					<div class="form-group">
						<label for="created_by">Created by</label>
						<input type="text" class="form-control" id="created_by" name="created_by" value="{{ project.created_by }}">
						{{ created_by }}
					</div>
					
					<input type="hidden" class="form-control" id="parent" name="parent" value="{{ project.parent }}">
					
					<hr>
					
					<button type="submit" class="btn btn-primary">Save changes</button> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Cancel</a>
				</form>	

			</div>
		</section>
		
	</div>
	
<script src="/public/js/bootstrap-datepicker.min.js"></script>

<script>
// set up date pickers
$('.datepicker').datepicker({
    format: 'd M yyyy'
})
</script>