	<div class="container">
	
		<section class="row">
			<div class="col-md-12">
			 	<h1 class="proj-name">{{project.name}}</h1>
			 	<span class="pull-right">
			 		<a href="/projects/{{ project.id }}/edit" role="button" class="btn btn-default">Edit</a> 
			 		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirm-delete">
  					Delete
					</button>
			 		
			 	</span>
			 	<p>Created by: {{project.created_by}}</p> 	
			</div>
		</section>
	
		<div class="panel panel-default">
 			 		<div class="panel-body">
 			 		
 			 		
		<section class="row">
			<div class="col-md-3">
			
			  	<dl>
						<dt>Project Type</dt>
						<dd>{{project.type}}</dd>
					</dl>
			</div>
			<div class="col-md-3">
			  	<dl>
						<dt>Status</dt>
						<dd>{{project.status}}</dd>
					</dl>
			</div>
			<div class="col-md-3">
			  	<dl>
						<dt>Start date</dt>
						<dd>{{project.start_date}}</dd>
					</dl>
			</div>
			<div class="col-md-3">
			  	<dl>
						<dt>Due date</dt>
						<dd>{{project.due_date}}</dd>
					</dl>
			</div>
		</section>
		
		<section class="row">
			<div class="col-md-12">
			 	<h4>Description</h4>
				<p>{{project.description}}</p>
			</div>
		</section>
		
		{{#if project.parent}}
		<section class="row">
			<div class="col-md-12">
				<hr>
				<p>Belongs to parent project: <a href="/projects/{{project.parent}}">{{project.parent}}</a></p>
			</div>
		</section>
		{{/if}}
		
		<!-- uploads works, but needs work
		<section class="row">
			<div class="col-md-12">
			 	<h4>Project Files</h4>
				<ul>
					{{#each file}}
						<li>{{ file.name }} <a href="{{ file.url }}">Download</a></li>
					{{/each}}
				</ul>
				<a role="button" id="toggle-ul-controls" class="btn btn-primary btn-xs">Add file...</a>

				<div class="upload-controls d-none">				
					<form id="upload-form"
					 	enctype="multipart/form-data"
					 	action="/api/files"
					 	method="post">
						<div class="form-group">
							<label for="File path">Email address</label>
							<input type="file" class="form-control" name="project-file">
							<input type="hidden" name="project" value="{{ id }}">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				
			</div>
		</section> -->
		
		</div>
		</div>
	
		<section class="row">
			<div class="col-md-12">
			
				<h3>Sub-Projects</h3>
				<div class="controls">
					<a href="/projects/{{project.id}}/add" role="button" class="btn btn-primary">Add Sub-Project</a>
				</div>
				
				{{#if sub_projects}}
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Name</th>
								<th>Status</th>
								<th>Due Date</th>
								<th>Created By</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{{#each sub_projects}}
								<tr>
									<td>{{ type }}</td>
									<td><a href="/projects/{{id}}">{{ name }}</a></td>
									<td>{{ status }}</td>
									<td>{{ due_date }}</td>
									<td>{{ created_by }}</td>
									<td>&nbsp;</td>
								</tr>
							{{/each}}
							</tr>
						</tbody>
					</table>
				</div>
				{{/if}}
			</div>
		</section>
	</div>
	
	
	<!-- Modal -->
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>Are you SURE you want to permanently delete this project?</p>
					<p>This cannot be undone.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal">cancel</button>
					<form class="no-style" method="post" action="/projects/{{ project.id }}?_method=DELETE">
 	 					<button type="submit" class="btn btn-danger">Yup, Delete Project!</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	