	<div class="container">
	
		<section class="row">
			<div class="col-md-8">
			 	<h3>Create New Project</h3>
			 	<form method="post" action="/projects">
					<div class="form-group">
						<label for="name">Project Name</label>
						<input type="text" class="form-control" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="status">Status</label>
						<select class="form-control" id="status" name="status">
							<option>New</option>
							<option>In progress</option>
							<option>In QA</option>
							<option>Reviewing</option>
							<option>Complete</option>
							<option>Closed</option>
						</select>
					</div>
					<div class="form-group">
						<label for="type">Type</label>
						<select class="form-control" id="type" name="type">
							<option>Internal</option>
							<option>External</option>
						</select>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" rows="5" id="description"  name="description"></textarea>
					</div>
					<div class="form-group">
						<label for="start_date">Start date</label>
						<input type="text" class="form-control datepicker" id="start_date" name="start_date">
					</div>
					<div class="form-group">
						<label for="due_date">Due date</label>
						<input type="text" class="form-control datepicker" id="due_date" name="due_date">
					</div>
					<div class="form-group">
						<label for="created_by">Created by (need till authentication fully functional)</label>
						<input type="text" class="form-control" id="created_by" name="created_by">
					</div>
					
					<input type="hidden" id="parent" name="parent" value="{{parent}}">
					
					<hr>
					
					<button type="submit" class="btn btn-primary">Create project</button> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="page-cancel">Cancel</a>
				</form>	
			</div>
		</section>
		
	</div>

<script src="/public/js/bootstrap-datepicker.min.js"></script>

<script>
// set up date pickers
$('.datepicker').datepicker({
    format: 'd M yyyy'
})
</script>