	<div class="container">
		<section class="row">
			<div class="col-md-12">
			
				<div class="controls">
					<a href="/project-new" role="button" class="btn btn-primary">New Project</a>
					<input type="text" id="table-filter" class="form-control search" placeholder="Filter">
				</div>

				<div class="table-responsive">
					<table class="table filter-me">
						<thead>
							<tr>
								<th>Type</th>
								<th>Name</th>
								<th>Status</th>
								<th>Due Date</th>
								<th>Created By</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{{#each projects}}
								<tr>
									<td>{{ type }}</td>
									<td><a href="/projects/{{id}}">{{ name }}</a></td>
									<td>{{ status }}</td>
									<td>{{ due_date }}</td>
									<td>{{ created_by }}</td>
									<td>&nbsp;</td>
								</tr>
							{{/each}}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6"><span class="label label-default">{{projects.length}}</span> projects</td>
							</tr>
						</tfoot>
					</table>
					
				</div>
							
			</div>
		</section>
	</div>
	
<script>
$(document).ready(function() {
	$("#table-filter").keyup( function() {
		console.log("Key pressed!");
		var input = this;
		var tableBody = $('.filter-me tbody');
		var tableRows = $('.filter-me tbody tr');
		tableRows.each( function(i, val) {
				//Force lowercase
				var rowText = $(val).text().toLowerCase();
				var inputText = $(input).val().toLowerCase();
				if ( rowText.indexOf( inputText ) == -1 ) {
					//hide rows
					tableRows.eq(i).hide();		
				} else {
					tableRows.eq(i).show();
				}
		});
	});
});
</script>
	