	<div class="container">
	
		<section class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				
				<h3>Register for a new account</h3>

				<div class="panel panel-default">

					<div class="panel-body">
						<div class="alert alert-warning" role="alert">
							<strong>Note!</strong> Usernames cannot contains spaces. 
							And seriously, come up with a decent password.
						</div>
						<form>
									<div class="form-group">
										<label for="user">User name</label>
										<input type="text" class="form-control" id="user">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password">
									</div>
									<div id="pw-confirm-group" class="form-group has-feedback">
										<label for="password-confirm">Re-type password</label>
										<input type="password" class="form-control" id="password-confirm">
									</div>
									
									<button type="submit" class="btn btn-primary" id="create-account" disabled="disabled">Create account</button>
								</form>
					</div>
				</div>	
			</div>
			<div class="col-md-3"></div>
		</section>
		
<script>
// a horrible place for JS, I know
// FORM VALIDATION
// Check for password match on registration
(function() {
	// ensure submit disabled on page load
	$('#create-account').prop('disabled', true);
	// make sure pws match
	$('#password-confirm').on('input', function(){
		var pw = $('#password').val();
		var pwConfirm = $('#password-confirm').val();
		if ( pw == pwConfirm ) {
				//passwords match!
				$('#pw-confirm-group')
					.removeClass('has-error')
					.addClass('has-success');
				$('#create-account').removeAttr('disabled');
		} else {
				// pw don't match
				$('#pw-confirm-group').addClass('has-error');
				$('#create-account').prop('disabled', true);
		}
	});
})();
</script>