	<div class="container">
	
		<section class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				
				<h3>Sign in</h3>

				<div class="panel panel-default">

					<div class="panel-body">
						<form>
									<div class="form-group">
										<label for="user">User name</label>
										<input type="email" class="form-control" id="user">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password">
									</div>
									<button type="submit" class="btn btn-primary">Sign in</button>
								</form>
					</div>
				</div>	
			</div>
			<div class="col-md-3"></div>
		</section>
		
	</div>
	