// MY MIXINS =============================================================

// global values
$theme-light: #f7f7f3;

// sticky footer
@mixin sticky-footer(
	$footer-height, $root-selector: unquote("#wrapper"), 
	$root-footer-selector: unquote("#footer-push"), 
	$footer-selector: unquote("#main-footer")
) {
		html, body { height: 100%; }
		#{$root-selector} {
			clear: both;
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin-bottom: -$footer-height;
			#{$root-footer-selector} {
			height: $footer-height; } 
		}
		#{$footer-selector} {
			clear: both;
			position: relative;
			height: $footer-height; 
		} 
	}
	
@mixin transition($speed) {
       -o-transition:$speed;
      -ms-transition:$speed;
     -moz-transition:$speed;
  -webkit-transition:$speed;
          transition:$speed;
}
