// Project Tracker Styles
// Would separate into SMACSS files for larger projects

// BASE =================================================================
	// Most base styles set in bootstrap-variables, and some globals in mymixins
// $theme-light: #f7f7f3;

.no-style {
	margin: 0;
	padding: 0;
	display: inline;
}

// LAYOUT ===============================================================
.xs-btn-shim {
	height: 24px;
	display: inline-block;
}
#home-header, #main-header  {
	.company-name, nav {
		// display: inline-block;	
	}
	nav {
		//float: right;
	}
	.company-name a {
		color: $gray-dark;
		text-decoration: none;
	}
}
#home-header { 
	//height: 150px;
	.navbar {
		//height: 150px !important;
		//line-height: 150px;
	}
	.navbar-brand {
		//padding: 45px 15px !important;
	}
	.navbar-nav > li > a {
		//line-height: 90px !important;
	}
}
#main-header { 
	height: 75px; 
	//line-height: 75px;
}
.navbar-brand {
	padding: 11.5px 15px !important;
}
#main-content {
	padding: 1em 0;
}
#main-footer {
	padding: 1em 0;
	position: absolute;
	bottom: 0;
}
@include sticky-footer(100px);
.splash-img {
	max-width: 100%;
}
.controls {
	margin: 10px 0;
	.search {
		display: inline-block;
		width: 300px;
		float: right;
	}
}
.proj-name {
	margin: 0;
	display: inline-block;
}

// MODULES ==============================================================
.navbar-nav > li {
	a {
		padding: 10px 20px;
		border-radius: $border-radius-large;
		margin-top: 17px;
	}
	a:hover {
		background-color: darken($theme-light, 4%) !important;
		text-decoration: none;
	}
}

.upload-controls {
	margin: 10px 0;
	overflow: hidden;
	min-height: 100px;
}

// STATE ================================================================= 
$home-navbar-height: 150px;
// larger top for for home page
#home-header .navbar {
	@media (min-width: $grid-float-breakpoint) {
    min-height: $home-navbar-height !important;
  }
}
#home-header .navbar-brand {
	@media (min-width: $grid-float-breakpoint) {
    padding: 45px 15px !important;
  }
}

#home-header .navbar-nav > li > a {
	@media (min-width: $grid-float-breakpoint) {
    margin-top: 50px !important;
  }
}

// THEME =================================================================
	// Most theme styles set in bootstrap-variables
#main-header, #home-header { background-color: $theme-light; }
//#main-content { border-top: 1px solid #d5d5ce; }
//#main-footer { border-top: 1px solid $brand-primary; }
.splash-text {
	font-size: 1.5em;
}
.h-feature {  
	padding: 10px;
	border-radius: $border-radius-large;
}
.h-feature:hover { 
	background-color: darken($theme-light, 4%); 
}
.h-feature h3 { 
	font-size: 1.5em; color: $gray-dark;
	margin-top: 0; 
}
.h-features {
	background-color: $theme-light;
	padding: 20px 0;
}
.company-name { font-size: 1.7em; font-weight: 600; }
table, .table {
	background-color: $theme-light;
	border-radius: 2px;
	margin: 0 !important;
}
.table-responsive { // create mixin for this
	-webkit-box-shadow: 0px 0px 8px 1px rgba(189,189,189,.3);
	-moz-box-shadow: 0px 0px 8px 1px rgba(189,189,189,.3);
	box-shadow: 0px 0px 8px 1px rgba(189,189,189,.3);
	margin-bottom: 20px;
}

// CHANGING STATE ========================================================

.fixed-header {
	height: 85px !important; 
	line-height: 85px !important;
	position: fixed;
	top: 0;
}

.hidden {
	visibility: hidden;
}
.d-none {
	display: none;
}

// fade for link hovers
a {
	@include transition(.3s);
}